@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html{
    height:100dvh;
    display: grid;
}
body {
   
    background-color: black; 
    transition: background-image 0.5s ease; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    height: 95%; 


}

.botão {
    font-size:3dvw;
    font-family: "Merriweather", serif;
    background-color: rgba(81, 53, 243, 0.425);
    border-radius:1em;
    margin: 1dvb;
    padding: 1dvb;
    border: 0.4dvb solid black;
}

.saudação {
    display:flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-family: "Great Vibes";
    font-size: 8dvb; 
    position: fixed;
    top: 0.1dvh;
    height: fit-content;
    word-wrap: no-wrap;
}

main{
    margin:0px;
}
nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
    margin-top: 15vh;
    justify-content: center;
}



section{
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: fixed;
    top:30dvh;
    left: 5dvw;
    right:5dvw;
    height: fit-content;   
    align-items: center;
    font-size: 6dvb;
}

#descrição{
    font-size:2dvw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top:20%;
    height: auto;
    text-align: justify;
    color:white;
    text-decoration: solid;
    text-wrap: wrap;
}

img{
    position: absolute;
    top: 0%;
    left: 65%;
    border: 1vh solid rgba(0, 0, 0, 0.404);
    height:auto;
    width: 30vw;
    border-radius: 50%;
}
